@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --gray-color: rgba(84, 84, 84, 0.99);
  --light-gray-color: rgb(224, 224, 224);
  --light-light-gray-color: rgb(242, 242, 242);
  --medium-gray-color: rgb(174, 174, 174);
  --strong-gray-color: rgb(88, 88, 88);
  --strong-gray-color-opacity: rgb(88, 88, 88, 0.8);
  --nav-white-color: rgba(255, 255, 255, 0.90);
  --search-white-color1: rgba(255, 255, 255, 0.8);
  --search-white-color2: rgba(255, 255, 255, 0.1);
  --white-color: rgba(255, 255, 255);
}

.header-lower--background {
  background-color: var(--gray-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  color: #fff;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color: var(--gray-color);
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.icon-style {
  color: var(--gray-color);
  font-size: 1.5rem;
}

.icon-style:hover {
  color: firebrick;
}

.stock {
  font-size: 1.1rem;
  color: firebrick;
}

:root {
  --padding: 1rem;
  --upper-nav: 1rem;
  --lower-nav: 0.5rem 1rem;
}

.cont {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
  padding: var(--padding);
}

.divider--background {
  display: flex;
  align-items: center;
  background-color: var(--light-gray-color);
  height: 43px;
}
.divider__desc {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.price-small {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.format-nowrap {
  white-space: nowrap;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__upper, .header__lower {
  width: 100%;
  margin: 0 auto;
}
.header__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-white-color);
  border-bottom: 1px solid var(--light-gray-color);
  padding: var(--upper-nav);
}
.header__upper__left, .header__upper__right {
  display: flex;
  align-items: center;
}
.header__upper__left {
  gap: 1rem;
}
.header__upper__left__logo {
  display: none;
}
.header__upper__left__logo__img {
  width: 118px;
  height: auto;
}
@media (min-width: 26.875em) {
  .header__upper__left__logo {
    display: block;
  }
}
@media (min-width: 40em) {
  .header__upper__left__hamburger {
    display: none;
  }
}
.header__upper__left__hamburger__nav-toggle {
  display: block;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 250ms ease;
}
.header__upper__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__upper__right__search {
  display: flex;
  width: 40%;
  font-weight: 300;
  background-color: var(--search-white-color1);
  border: 1px solid var(--light-gray-color);
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 1.5rem;
}
.header__upper__right__search__icon {
  font-size: 1.2rem;
  color: var(--medium-gray-color);
  display: block;
  margin: auto 0;
}
.header__upper__right__search__form {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 0.5rem;
  background-color: var(--search-white-color1);
}
.header__upper__right__search, .header__upper__right__liked, .header__upper__right__seen, .header__upper__right__basket {
  display: flex;
  align-items: center;
}
.header__lower--background {
  visibility: hidden;
  position: absolute;
  height: 0;
  background-color: var(--gray-color);
}
@media (min-width: 40em) {
  .header__lower--background {
    visibility: visible;
    position: relative;
    height: auto;
  }
}
.header__lower--background--visible {
  visibility: visible;
  height: 100vh;
  position: relative;
}
.header__lower {
  padding: var(--lower-nav);
}
.header__lower__nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
}
@media (min-width: 40em) {
  .header__lower__nav__links {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    font-weight: 300;
  }
  .header__lower__nav__links__link:last-child {
    margin-left: auto;
  }
}

.body-stop {
  overflow: hidden;
}

@media (min-width: 40em) {
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one one two two" "three three three four" "five five six six" "seven seven seven eight";
    gap: 1rem;
  }
  .categories .one {
    grid-area: one;
  }
  .categories .two {
    grid-area: two;
  }
  .categories .three {
    grid-area: three;
  }
  .categories .four {
    grid-area: four;
  }
  .categories .five {
    grid-area: five;
  }
  .categories .six {
    grid-area: six;
  }
  .categories .seven {
    grid-area: seven;
  }
  .categories .eight {
    grid-area: eight;
  }
}
.categories__box {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
@media (min-width: 40em) {
  .categories__box {
    margin-bottom: 0;
  }
}
.categories__box:hover {
  cursor: pointer;
}
.categories__box__img {
  height: 13rem;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s, opacity 0.5s;
}
.categories__box__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.483);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.categories__box__title__h2 {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  text-align: start;
}
.categories .enlarge {
  transform: scale(1.025, 1.025);
  opacity: 0.9;
}

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
@media (min-width: 26.875em) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 40em) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 53.75em) {
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 79em) {
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.product {
  height: auto;
  border: 1px solid var(--light-light-gray-color);
  border-radius: 0.5rem;
  transition: box-shadow 0.3s;
}
.product:hover {
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);
}
.product__top {
  padding: 0.5rem;
}
.product__top__cont {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.product__top__cont__img {
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.5s, opacity 0.5s;
}
.product__top__cont__img:hover {
  cursor: pointer;
}
.product__top__cont__stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
  border-bottom: 1px solid var(--light-light-gray-color);
}
.product__middle {
  display: flex;
  justify-content: space-between;
}
.product__middle__price--m2 {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-left: 0.5rem;
  background-color: var(--gray-color);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1px;
}
.product__middle__price--m2__p {
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.product__middle__price--st {
  display: flex;
  width: 50%;
  justify-content: center;
}
.product__middle__price--st__p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: var(--gray-color);
  font-weight: 400;
}
.product__bottom {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.product__bottom__title {
  padding: 0.8rem 0;
  border-top: 1px solid var(--light-light-gray-color);
  border-bottom: 1px solid var(--light-light-gray-color);
}
.product__bottom__title:hover {
  cursor: pointer;
  text-decoration: underline;
}
.product__bottom__desc {
  padding: 0.8rem 0;
}
.product__bottom__desc__p {
  font-size: 0.8rem;
  color: rgb(109, 109, 109);
}
.product .moveLeft {
  transform: translate(-110%);
}
.product .moveRight {
  transform: translate(0);
}
.product .opacity {
  opacity: 0.95;
}
.product img[class*=product_img_second_] {
  position: absolute;
  top: 0;
  right: -110%;
}

.slideshow {
  position: relative;
}
.slideshow__slide {
  display: none;
  position: relative;
}
.slideshow__slide__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: clamp(30rem, 60vw, 45rem);
  border-radius: 0.5rem;
}
.slideshow__slide__abs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.483);
  border-radius: 0.5rem;
}
.slideshow__slide__abs__box {
  height: 100%;
}
.slideshow__slide__abs__box__cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.slideshow__slide__abs__box__cont__title {
  color: white;
  font-size: clamp(1rem, 10vw + 0.01rem, 5rem);
  line-height: clamp(1rem, 8vw + 1rem, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
}
.slideshow__slide__abs__box__cont__desc {
  color: white;
  font-size: clamp(1rem, 2vw + 0.01rem, 2rem);
  line-height: clamp(1.5rem, 2vw + 0.01rem, 3rem);
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
}
.slideshow__slide__abs__box__cont__button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.slideshow__slide__abs__box__cont__button:hover {
  cursor: pointer;
}
.slideshow__button--prev, .slideshow__button--next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  font-size: 3rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slideshow__button--prev:hover, .slideshow__button--next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}
.slideshow__button--next {
  right: 1rem;
}
.slideshow__dots {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
}
.slideshow__dots__cont {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.slideshow__dots__cont__dot {
  cursor: pointer;
  height: 1rem;
  width: 2rem;
  background-color: var(--gray-color);
  border-radius: 0.2rem;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow__dots__cont__dot:hover {
  background-color: white;
}
.slideshow .active {
  background-color: white;
}
.slideshow .fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.main__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding-bottom: var(--padding);
}
.main__window {
  border-radius: 0.5rem;
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);
}
.main__window__top__left {
  border-bottom: 1px solid var(--light-light-gray-color);
}
.main__window__top__left__cont {
  display: none;
  padding: 1rem;
  aspect-ratio: 5/4;
}
.main__window__top__left__cont__img {
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__window__top__left__cont__img:hover {
  cursor: pointer;
}
.main__window__bottom__left {
  border-bottom: 1px solid var(--light-light-gray-color);
}
.main__window__bottom__left__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "one two three" "four five six" "seven eight nine";
  justify-content: space-between;
  padding: 1rem;
}
.main__window__bottom__left__grid .one {
  grid-area: one;
}
.main__window__bottom__left__grid .two {
  grid-area: two;
}
.main__window__bottom__left__grid .three {
  grid-area: three;
}
.main__window__bottom__left__grid .four {
  grid-area: four;
}
.main__window__bottom__left__grid .five {
  grid-area: five;
}
.main__window__bottom__left__grid .six {
  grid-area: six;
}
.main__window__bottom__left__grid .seven {
  grid-area: seven;
}
.main__window__bottom__left__grid .eight {
  grid-area: eight;
}
.main__window__bottom__left__grid .nine {
  grid-area: nine;
}
.main__window__bottom__left__grid__cont {
  padding: 0.1rem;
  margin: 0.3rem;
  display: flex;
  aspect-ratio: 5/4;
  transition: outline 0.3s;
}
.main__window__bottom__left__grid__cont__img {
  border-radius: 0.1rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.main__window__bottom__left__grid__cont__img:hover {
  cursor: pointer;
  opacity: 1;
}
.main__window__middle__top {
  padding-top: 1rem;
}
.main__window__middle__top__price {
  display: flex;
  border-bottom: 1px solid var(--light-light-gray-color);
  padding-bottom: 1rem;
}
.main__window__middle__top__price__left {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-left: 0.5rem;
  background-color: var(--gray-color);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: -1px;
}
.main__window__middle__top__price__left__box {
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.main__window__middle__top__price__right {
  display: flex;
  width: 50%;
  justify-content: center;
}
.main__window__middle__top__price__right__box {
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: var(--gray-color);
  font-weight: 400;
}
.main__window__middle__top__stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.main__window__middle__top__stock__desc {
  padding-block: 1rem;
  padding-inline: 1rem;
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
}
.main__window__middle__top__buy {
  padding: 1rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 1rem;
}
.main__window__middle__top__buy__select {
  display: flex;
}
.main__window__middle__top__buy__select__left {
  flex-grow: 1;
  background-color: white;
  border: 1px solid var(--light-gray-color);
  border-right: none;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-size: 1rem;
  padding-block: 0.3rem;
  color: var(--gray-color);
  transition: background-color 0.1s, color 0.1s, border 0.1s;
}
.main__window__middle__top__buy__select__left:hover {
  cursor: pointer;
}
.main__window__middle__top__buy__select__middle {
  flex-grow: 1;
  background-color: white;
  border: 1px solid var(--light-gray-color);
  font-size: 1rem;
  padding-block: 0.3rem;
  color: var(--gray-color);
  transition: background-color 0.1s, color 0.1s, border 0.1s;
}
.main__window__middle__top__buy__select__middle:hover {
  cursor: pointer;
}
.main__window__middle__top__buy__select__right {
  flex-grow: 1;
  background-color: white;
  border: 1px solid var(--light-gray-color);
  border-left: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  font-size: 1rem;
  padding-block: 0.3rem;
  color: var(--gray-color);
  margin-left: -1px;
  transition: background-color 0.1s, color 0.1s, border 0.1s;
}
.main__window__middle__top__buy__select__right:hover {
  cursor: pointer;
}
.main__window__middle__top__buy__area__input {
  width: 100%;
  font-size: 1rem;
  padding-block: 0.3rem;
  text-align: center;
  color: var(--gray-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 0.4rem;
  transition: border 0.3s;
}
.main__window__middle__top__buy__area__input:focus {
  border: 1px solid var(--gray-color);
  outline: none;
}
.main__window__middle__top__buy__button_buy {
  background-color: #a43434;
  border: none;
  padding-block: 0.6rem;
  padding-inline: 1rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  color: white;
  transition: background-color 0.3s;
}
.main__window__middle__top__buy__button_buy:hover {
  background-color: hsla(0, 68%, 42%, 0.885);
  cursor: pointer;
}
.main__window__middle__top__buy__button_add {
  background-color: var(--medium-gray-color);
  border: none;
  color: white;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s;
}
.main__window__middle__top__buy__button_add:hover {
  background-color: var(--light-gray-color);
  color: white;
  cursor: pointer;
}
.main__window__middle__bottom {
  padding: 1rem;
}
.main__window__middle__bottom__left {
  display: flex;
  justify-content: space-between;
}
.main__window__middle__bottom__left_left {
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.main__window__middle__bottom__left_middle {
  display: inline-block;
  border-bottom: 1px dotted var(--medium-gray-color);
  flex-grow: 1;
  margin-bottom: 5px;
}
.main__window__middle__bottom__left_right {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  color: gray;
}
.main .selected {
  background-color: var(--gray-color);
  color: white;
  border: none;
}
.main .active {
  outline: 3px solid gray;
  border-radius: 0.1rem;
}
.main .clear {
  opacity: 1;
}
.main .main_box {
  display: flex;
}
.main .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.main .modal__content {
  display: block;
  width: 100%;
  max-width: 80em;
  height: auto;
  border-radius: 0.5rem;
  margin: auto;
}
.main .close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.main .close:hover {
  cursor: pointer;
}
.main .modal__box {
  display: flex;
  align-items: center;
  height: 100%;
}
.main .fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */