@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --gray-color: rgba(84, 84, 84, 0.99);
  --light-gray-color: rgb(224, 224, 224);
  --light-light-gray-color: rgb(242, 242, 242);
  --medium-gray-color: rgb(174, 174, 174);
  --strong-gray-color: rgb(88, 88, 88);
  --strong-gray-color-opacity: rgb(88, 88, 88, 0.8);
  --nav-white-color: rgba(255, 255, 255, 0.90);
  --search-white-color1: rgba(255, 255, 255, 0.8);
  --search-white-color2: rgba(255, 255, 255, 0.1);
  --white-color: rgba(255, 255, 255);
}

.header-lower--background {
  background-color: var(--gray-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color: var(--gray-color);
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a:hover {
  opacity: 75%;
}

.icon-style {
  color: var(--gray-color);
  font-size: 1.5rem;
}

.icon-style:hover {
  color: firebrick;
}

.stock {
  font-size: 1.1rem;
  color: firebrick;
  line-height: 1.7rem;
}

:root {
  --padding: 1rem;
  --upper-nav: 1rem;
  --lower-nav: 0.5rem 1rem;
}

.cont {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
  padding: var(--padding);
}

.divider--background {
  display: flex;
  align-items: center;
  background-color: var(--light-gray-color);
  height: 43px;
}
.divider__desc {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.price-small {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__upper, .header__lower {
  width: 100%;
  margin: 0 auto;
}
.header__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-white-color);
  border-bottom: 1px solid var(--light-gray-color);
  padding: var(--upper-nav);
}
.header__upper__left, .header__upper__right {
  display: flex;
  align-items: center;
}
.header__upper__left {
  gap: 1rem;
}
.header__upper__left__logo {
  display: none;
}
.header__upper__left__logo__img {
  width: 118px;
  height: auto;
}
@media (min-width: 25em) {
  .header__upper__left__logo {
    display: block;
  }
}
@media (min-width: 43.75em) {
  .header__upper__left__hamburger {
    display: none;
  }
}
.header__upper__left__hamburger__nav-toggle {
  display: block;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 250ms ease;
}
.header__upper__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__upper__right__search {
  display: flex;
  width: 40%;
  font-weight: 300;
  background-color: var(--search-white-color1);
  border: 1px solid var(--light-gray-color);
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 1.5rem;
}
.header__upper__right__search__icon {
  font-size: 1.2rem;
  color: var(--medium-gray-color);
  display: block;
  margin: auto 0;
}
.header__upper__right__search__form {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 0.5rem;
  background-color: var(--search-white-color1);
}
.header__upper__right__search, .header__upper__right__liked, .header__upper__right__seen, .header__upper__right__basket {
  display: flex;
  align-items: center;
}
.header__lower--background {
  visibility: hidden;
  position: absolute;
  height: 0;
  background-color: var(--gray-color);
}
@media (min-width: 43.75em) {
  .header__lower--background {
    visibility: visible;
    position: relative;
    height: auto;
  }
}
.header__lower--background--visible {
  visibility: visible;
  height: 100vh;
  position: relative;
}
.header__lower {
  padding: var(--lower-nav);
}
.header__lower__nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
}
.header__lower__nav__links__link:last-child {
  font-weight: 700;
}
@media (min-width: 43.75em) {
  .header__lower__nav__links {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    font-weight: 300;
  }
  .header__lower__nav__links__link:last-child {
    margin-left: auto;
  }
}

.body-stop {
  overflow: hidden;
}

@media (min-width: 43.75em) {
  .categories__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one one two two" "three three three four" "five five six six" "seven seven seven eight";
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 0.25rem;
  }
  .categories__row .one {
    grid-area: one;
  }
  .categories__row .two {
    grid-area: two;
  }
  .categories__row .three {
    grid-area: three;
  }
  .categories__row .four {
    grid-area: four;
  }
  .categories__row .five {
    grid-area: five;
  }
  .categories__row .six {
    grid-area: six;
  }
  .categories__row .seven {
    grid-area: seven;
  }
  .categories__row .eight {
    grid-area: eight;
  }
}
.categories__row__box {
  position: relative;
  margin-bottom: 1rem;
}
@media (min-width: 43.75em) {
  .categories__row__box {
    margin-bottom: 0;
  }
}
.categories__row__box__img {
  height: 12rem;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories__row__box__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--strong-gray-color-opacity);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
}
.categories__row__box__title__h2 {
  color: white;
  font-size: 1.125rem;
  padding: 1rem 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.product {
  height: auto;
  border: 1px solid var(--light-gray-color);
  border-radius: 0.5rem;
  max-width: 18rem;
}
.product__top {
  padding: 0.5rem;
}
.product__top__img {
  width: 100%;
  border-radius: 0.5rem;
}
.product__top__stock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.7rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
  border-bottom: 1px solid var(--light-light-gray-color);
}
.product__middle {
  display: flex;
  justify-content: space-between;
}
.product__middle__price--m2 {
  background-color: var(--gray-color);
  padding-left: 2rem;
  padding-right: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.product__middle__price--m2__p {
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.product__middle__price--st {
  padding-right: 2rem;
}
.product__middle__price--st__p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: var(--gray-color);
  font-weight: 400;
}
.product__bottom {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.product__bottom__title {
  padding: 0.8rem 0;
  border-top: 1px solid var(--light-light-gray-color);
  border-bottom: 1px solid var(--light-light-gray-color);
}
.product__bottom__desc {
  padding: 0.8rem 0;
}
.product__bottom__desc__p {
  font-size: 0.8rem;
  color: rgb(109, 109, 109);
}/*# sourceMappingURL=styles.css.map */