@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
--gray-color: rgba(64, 64, 64, 0.99);
--light-gray-color: rgb(224, 224, 224);
--medium-gray-color: rgb(174, 174, 174);


--nav-white-color: rgba(255, 255, 255, 0.90);

--search-white-color1: rgba(255, 255, 255, 0.8);
--search-white-color2: rgba(255, 255, 255, 0.1);

--white-color: rgba(255, 255, 255);


--font: 'Roboto', sans-serif;

--font-size-s: 1.125rem;

--padding: 1rem;
--padding-nav: 1rem 2rem;

--limit: 1200px;
}

html {
  font-family: var(--font);
  color: var(--gray-color);
}

li {list-style-type: none;}

a {
  text-decoration: none; 
  color: var(--white-color)
}

a:hover {opacity: 75%;}

img {
  width: 100%;
  height: auto;
}

.cont {
  width: 100%;
  max-width: var(--limit);
  margin: 0 auto;
  padding: var(--padding);
}

/* HEADER */

header {
  position: sticky;
  top: 0;
}

.header-upper, .header-lower, .header-upper__right, .header-lower__nav-links {
  display: flex;
  justify-content: space-between;
}

.header-lower--background {background-color: var(--gray-color);}

.header-upper, .header-lower {
  padding: var(--padding-nav);
  width: 100%;
  margin: 0 auto;
}

.header-upper {
  background-color: var(--nav-white-color);
}

.header-lower__nav-links {
  gap: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

.header-img {
  width: 80%;
}

.header-upper__left {
  display: flex;
  align-items: center;
}

.nav-link {color: var(--white-color);}

.header-upper__right {
  gap: 3rem;
  align-items: center;
}

.icon-style {
  color: var(--gray-color);
  font-size: 1.5rem;
}

.icon-style:hover {
  color: firebrick;
}

.header-upper__search-form {
  border: none;
}

.header-upper__right__search__box {
  border: 1px solid var(--light-gray-color);
  padding-block: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 1rem;
  border-radius: 1.5rem;
  background-color: var(--search-white-color1);
  display: flex;
}


.header-upper__search-form {
  background-color: var(--search-white-color2);
  font-weight: 100;
  width: 50px;
  transition: width 1s;
  padding-left: 1rem;


}

.header-upper__search-form:hover, .header-upper__search-form:focus {
  width: 150px;
}

.header-upper__search-form:focus {
  outline: none;
}

.search {
  font-size: 1.2rem;
  color: var(--medium-gray-color);
}
