//400px, 700px, 900px, 1440px

$breakpoints-up: (
  "small": 25em,
  "medium": 43.75em,
  "large": 56.25em, 
  "xlarge": 90em,
);

@mixin breakpoint($size) {
   @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
   }
}

$small-padding: 1rem;
$medium-padding: 2rem;