//430px, 640px, 860px, 1264px

$breakpoints-up: (
  "small": 26.875em,
  "medium": 40em,
  "large": 53.75em,
  "xlarge": 79em
);

@mixin breakpoint($size) {
   @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
   }
}

$small-padding: 1rem;
$medium-padding: 2rem;