//less animation


.bricks-animation-delay(@bricks, @delay) {
  .loop(0); // Start loop
  
  .loop(@index) when (@index <= @bricks) {
    &:nth-child(@{index}) {
      -webkit- animation-delay: unit((@index * @delay),s); 
      animation-delay: unit((@index * @delay),s);
    }

    .loop(@index + 1); // 
  }
}


@bricks: 9;
@delay: 0.2;


body{
  margin: 0;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loader{
  width: 240px;
  height: 240px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  
  .brick{
    width: 56px;
    height: 20px;
    background: firebrick;
    border: 2px solid #fff;
    border-radius: 0.2rem;
    position: absolute;
    visibility: hidden;
    -webkit-animation: bricks infinite;
    animation: bricks 2500ms infinite;
    box-shadow: 0 0 0 1px lighten(black, 70%);
    .bricks-animation-delay(@bricks, @delay);
    &:nth-child(1){
      bottom: 0;
      left:0;
    }
    &:nth-child(2){
      bottom: 0;
      left: 60px;
    }
    &:nth-child(3){
      bottom: 0;
      left: 120px;
    }
    &:nth-child(4){
      bottom: 0;
      left: 180px;
    }
    &:nth-child(5){
      bottom: 24px;
      left: 30px;
    }   
    &:nth-child(6){
      bottom: 24px;
      left: 90px;
    }
    &:nth-child(7){
      bottom: 24px;
      left: 150px;
    }
    &:nth-child(8){
      bottom: 48px;
      left: 60px;
    }
    &:nth-child(9){
      bottom: 48px;
      left: 120px;
    }
 
  }
}

@-webkit-keyframes bricks{
  0%{ visibility: hidden}
  50%{ visibility: visible}
  100%{ visibility: hidden; opacity:0 }
}

@keyframes bricks{
  0%{ visibility: hidden}
  50%{ visibility: visible}
  100%{ visibility: hidden; opacity:0}
}