@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;
@use '../globals/colors' as *;

.cart {

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: var(--gray-color);
    text-align: center;
  }

  &__checkout-wrapper {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4.4rem; //to the nav bar
    z-index: 1;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid var(--light-gray-color);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1.5rem;

  }

  &__checkout {
    display: block;
    letter-spacing: 0.05rem;
    width: 91%;
    max-width: 23rem;

    background-color: var(--gray-color);
    border: none;
    color: white;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    // margin-left: 1rem;
    // margin-right: 1rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
    min-height: 2.875rem; //Height of the price box

    @include breakpoint (tiny) {
      margin-inline: auto;
    }

    &:hover {
      background-color: gray;
      color: white;
      cursor: pointer;
    }

    &__subtotal {
      padding-block: 0.7rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
    }
  }

  &__cont {
    display: grid;
    gap: 1rem;

    @include breakpoint (medium) {
      grid-template-columns: 1fr 1fr;
      column-gap: 0.3rem;

    }

    @include breakpoint (large) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0.3rem;
      row-gap: 1rem;
    }

    @include breakpoint (xlarge) {
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      padding-inline: 8rem;
    }
    
    &__product {
      position: relative;
      margin-inline: auto;
      max-width: 23rem;
      min-width: 18rem;
      border-radius: 0.5rem;
      transition: opacity 200ms;
      padding: 1rem;
      box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);
      letter-spacing: 0.02rem;

      &__image {
        display: block;

        &__img {
          border-radius: 0.5rem;
          max-width: 21.875rem;
          width: 100%;

          &:hover {
            opacity: 0.95;
          }
        }
      }

      &__price {
        display: flex;
        margin-left: -0.92rem;
        margin-right: -2rem;
        padding-block: 1rem;

        @include breakpoint(large) {
          margin-left: -0.95rem;
        }

        @include breakpoint(xlarge) {
          margin-left: -1rem;
        }
      }


      &__vendor {
        display: flex;
        padding-inline: 0.5rem;
      }

      &__title {

        &__name {
          padding-block: 1rem;
          padding-inline: 0.5rem;
          letter-spacing: 0.04rem;
          font-weight: 500;
    
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      &__quantity {
        padding-bottom: 4rem;
        padding-inline: 0.5rem;
        padding-top: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.2rem;


        &__modify {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: -0.3rem;
        }


        &__sub-del {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 1rem;
          position: absolute;
          bottom: 1.5rem;
          left: 1.5rem;
          right: 1.5rem;
        }

        &__subtotal {
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.03rem;
        }

        &__delete {
          width: 6rem;
          height: 2rem;
          background-color: white;
          border: 1px solid var(--light-gray-color);
          color: gray;
          align-self: center;
        
          border-radius: 0.4rem;
          font-size: 1rem;
          transition: background-color 0.1s, color 0.1s, border 0.1s;
        
          &:hover {
            cursor: pointer;
            background-color: var(--light-gray-color);
            border: 1px solid var(--light-gray-color);
            color: var(--gray-color);
          }
          &:active {
            background-color: var(--gray-color);
            color: white;
            border: 1px solid var(--gray-color);
          }
        }


        &__buttons {
          display: flex;


          &__minus {
            width: 3rem;
            height: 2rem;
            background-color: white;
            border: 1px solid var(--light-gray-color);
            color: gray;
          
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            font-size: 1rem;
            transition: background-color 0.1s, color 0.1s, border 0.1s;
          
            &:hover {
              cursor: pointer;
              background-color: var(--light-gray-color);
              border: 1px solid var(--light-gray-color);
              color: var(--gray-color);
            }
            &:active {
              background-color: var(--gray-color);
              color: white;
              border: 1px solid var(--gray-color);
            }
          }
  
          &__plus{
            margin-left: -1px;
            width: 3rem;
            height: 2rem;
            background-color: white;
            border: 1px solid var(--light-gray-color);
            color: gray;
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            font-size: 1rem;
            transition: background-color 0.1s, color 0.1s, border 0.1s;
          
            &:hover {
              cursor: pointer;
              background-color: var(--light-gray-color);
              border: 1px solid var(--light-gray-color);
              color: var(--gray-color);
            }
            &:active {
              background-color: var(--gray-color);
              color: white;
              border: 1px solid var(--gray-color);
            }
          }
        }
      }
    }
  }
}

.hide_product {
  opacity: 0;
  height: 0;
  display: none;
}