@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;
@use '../globals/colors' as *;

.cart {

  &__cont {

    &__product {
      display: block;
      // gap: 1rem;

      &__image {
        display: block;

        &__img {
          border-radius: 0.5rem;
        }

      }

      &__price {
        display: flex;


      }
    }
    

  }
}

