@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;
@use '../globals/colors' as *;

.cart {

  &__cont {

    &__product {
      display: flex;
      gap: 1rem;

      &__image {
        display: block;
      }
    }
    

  }
}