@use '../util/breakpoints' as *;
@use '../globals/typography' as *;

.categories {

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "one one two two"
    "three three three four"
    "five five six six"
    "seven seven seven eight";
    gap: 1rem;

    .one {grid-area: one;}
    .two {grid-area: two;}
    .three {grid-area: three;}
    .four {grid-area: four;}
    .five {grid-area: five;}
    .six {grid-area: six;}
    .seven {grid-area: seven;}
    .eight {grid-area: eight;}
  }

  &__box {
    position: relative;
    margin-bottom: 1rem;
    @include breakpoint(medium) {margin-bottom: 0;}

    &__img {
      height: 13rem;
      width: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }

    &__title {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: hsla(0, 0%, 0%, 0.483);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      width: 100%;
      height: auto;

      &__h2 {
        color: white;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        text-align: start;
      }
    }
  }
}