@use '../globals/typography' as *;
@use '../globals/colors' as *;


:root {
  --padding: 1rem;
  --upper-nav: 1rem;
  --lower-nav: 0.5rem 1rem;
}

.cont {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
  padding: var(--padding);
}

.divider {
  &--background {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    height: 43px;
  }

  &__desc {
    text-transform: uppercase;
    font-size: $s-font-size;
    font-weight: 400;
  }
}

.price-small {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.price-desc {
  letter-spacing: 0.05rem;
  font-size: 1.05rem;
}

.format-nowrap {
  white-space: nowrap;
}

sup {
  font-size: 0.7rem;
}