@use '../util/breakpoints' as *;
@use '../globals/typography' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.207);

  &__upper, &__lower {
    width: 100%;
    margin: 0 auto;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-white-color);
    clip-path: inset(0px 0px -10px 0px);
    padding-block: 1rem;

    &__left, &__right {
      display: flex;
      align-items: center;
    }
  
    &__left {

      &__logo {
        user-select: none;
        font-weight: 900;
        letter-spacing: 0.04rem;
        font-size: 1.5rem;

        &__bricks {
          color: #a43434;
        }

        &:hover {
          opacity: 0.8;
        }
      }
      &__hamburger {
        width: 2rem;

        @include breakpoint(medium) {
          width: 2.5rem;
        }

        &__nav-toggle {
          font-size: 1.5rem;
          display: block;
          border: none;
          background-color: inherit;
          cursor: pointer;
          transition: opacity 250ms ease;
        }
      }
    }
  
    &__right {
      display: flex;  
      align-items: center;
      justify-content: space-between;
      width: 9rem;
      position: relative;

      &__has-counter {
        padding-right: 1.2rem;
      }

      @include breakpoint(tiny) {
        width: 10rem;
      }

      @include breakpoint(medium) {
        width: 12rem;
      }

      &__search, &__saved, &__seen, &__basket {
        display: flex;
        align-items: center;
      }

      &__search {
        font-size: 1.35rem;
      }

      &__saved {
        position: absolute;
        right: 3.7rem;

        @include breakpoint(tiny) {
          right: 4.2rem;
        }
  
        @include breakpoint(medium) {
          right: 5rem;
        }

        &__has-counter {
          right: 4.5rem;

          @include breakpoint(tiny) {
            right: 5rem;
          }
    
          @include breakpoint(medium) {
            right: 5.8rem;
          }
        }
      }

      &__cart {
        position: relative;
      }

      &__saved, &__cart {
        font-size: 1.5rem;

        &__counter {
          opacity: 0;
          transition: opacity 300ms;
          position: absolute;
          top: -0.2rem;
          right: -1.1rem;
          color: white;
          background-color: #a43434ef;
          border-radius: 0.3rem;
          font-size: 0.8rem;
          width: 1.8875rem;
          text-align: center;
          padding-inline: 0.5rem;

          &__not-blurred {
            opacity: 1;
          }
        }
      }
    }
  }
}
