@use '../util/breakpoints' as *;
@use '../globals/typography' as *;


.header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.207);

  &__upper, &__lower {
    width: 100%;
    margin: 0 auto;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-white-color);
    clip-path: inset(0px 0px -10px 0px);
    padding-block: 1rem;

    &__left, &__right {
      display: flex;
      align-items: center;
    }
  
    &__left {
      gap: 1rem;

      @include breakpoint(small) {
        gap: 1.5rem;
      }

      &__logo {
        user-select: none;
        font-weight: 900;
        letter-spacing: 0.04rem;
        font-size: 1.5rem;

        &__bricks {
          color: #a43434;
        }

        &:hover {
          opacity: 0.8;
        }
      }
      &__hamburger {

        &__nav-toggle {
          display: block;
          border: none;
          background-color: inherit;
          cursor: pointer;
          transition: opacity 250ms ease;
        }
      }
    }
  
    &__right {
      display: flex;  
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;

      &__has-counter {
        padding-right: 1.6rem;
      }

      @include breakpoint(tiny) {
        gap: 2rem;
      }

      @include breakpoint(medium) {
        gap: 2.5rem;
      }

      @include breakpoint(medium) {
        gap: 3rem;
      }

      &__search, &__saved, &__seen, &__basket {
        display: flex;
        align-items: center;
      }

      &__saved, &__cart {
        position: relative;

        &__counter {
          opacity: 0;
          transition: opacity 300ms;
          position: absolute;
          top: -0.2rem;
          right: -1.6rem;
          color: white;
          background-color: #a43434e9;
          border-radius: 0.3rem;
          font-weight: 300;
          font-size: 0.8rem;
          width: 1.8875rem;
          text-align: center;
          padding-inline: 0.5rem;

          &__not-blurred {
            opacity: 1;
          }
        }
      }
    }
  }

  // &__lower--background {
  //   visibility: hidden;
  //   position: absolute;
  //   height: 0;
  //   background-color: var(--gray-color);

  //   @include breakpoint(medium) {
  //     visibility: visible;
  //     position: relative;
  //     height: auto;
  //   }

  //   &--visible {
  //     visibility: visible;
  //     height: 100vh; 
  //     position: relative;
  //   }
  // }

  // &__lower {
  //   padding: var(--lower-nav);

  //   &__nav {
  //     &__links {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       // text-transform: uppercase;
  //       font-weight: 400;
  //       font-size: $s-font-size;
  //       letter-spacing: 0.05rem;

  //       // &__link:last-child {
  //       //   font-weight: 700;
  //       // }

  //       @include breakpoint(medium) {
  //         flex-direction: row;
  //         justify-content: flex-start;
  //         gap: 2rem;
  //         font-weight: 300;

  //         &__link:last-child {
  //           margin-left: auto;
  //         }
  //       }
  //     }
  //   }
  // }
}
