@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;
@use '../globals/colors' as *;


.main {

  &__cont {
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    &__title {
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      font-size: 1.1rem;
      padding-inline: 0.5rem;
      letter-spacing: 0.05rem;

      @include breakpoint(small) {
        font-size: 1.3rem;
        letter-spacing: 0.07rem;
        word-spacing: 0.1rem;
      }
      @include breakpoint(medium) {
        font-size: clamp(0.5rem, 3vw + 0.01rem, 2rem);
      }
    }
  }

  &__window {
    border-radius: 0.5rem;
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);

    display: grid;

    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    
    .main__window__top__left {grid-area: one;}
    .main__window__bottom__left {grid-area: two;}
    .main__window__middle__top {grid-area: three;}
    .main__window__middle__bottom {grid-area: four;}

    @include breakpoint(medium) {
      grid-template-areas: 
      "two one"
      "two one"
      "two one"
      "three three"
      "four four";
    }

    @include breakpoint(xlarge) {
      grid-template-areas: 
      "one three"
      "one four"
      "one four"
      "one four"
      "one four"
      "two two";
    }

    &__top {

      &__left {
        position: relative;

        &__button--prev, &__button--next {
          cursor: pointer;
          position: absolute;
          top: 40%;
          width: auto;
          font-size: 1rem;
          padding: 1rem;
          color: white;
          font-weight: bold;
          user-select: none;
          background-color: var(--gray-color);
          z-index: 1;
          transition: background-color 0.3s;

          @include breakpoint(small) {
            font-size: 2rem;
          }

          &:hover {
            background-color: hsla(0, 0%, 25%, 0.713);
          }
        }

        &__button--next {
          right: 1rem;
          border-top-left-radius: 0.4rem;
          border-bottom-left-radius: 0.4rem;
        }

        &__button--prev {
          left: 1rem;
          border-top-right-radius: 0.4rem;
          border-bottom-right-radius: 0.4rem;
        }

        &__cont {
          display: none;
          padding: 1rem;
          // border-right: 1px solid var(--light-light-gray-color);

          &__img {
            width: 100%;
            border-radius: 0.5rem;
            object-fit: cover;

            @include breakpoint(medium) {
              min-height: 29rem;
              min-width: 27rem;
            }

            @include breakpoint(xlarge) {
              min-height: 29rem;
              min-width: 20rem;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    &__bottom {
      border-bottom: 1px solid var(--light-light-gray-color);

      &__left {

        &__grid {
          border-top: 1px solid var(--light-light-gray-color);

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          grid-template-areas: 
          "one two three"
          "four five six"
          "seven eight nine";
          justify-content: space-between;
          padding: 1rem;

          .one {grid-area: one;}
          .two {grid-area: two;}
          .three {grid-area: three;}
          .four {grid-area: four;}
          .five {grid-area: five;}
          .six {grid-area: six;}
          .seven {grid-area: seven;}
          .eight {grid-area: eight;}
          .nine {grid-area: nine;}
          .ten {grid-area: ten;}

          @include breakpoint(small) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "one two three four"
            "five six seven eight" 
            "nine ten eleven twelve";
          }

          @include breakpoint(medium) {
            max-width: 9.7rem;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five" 
            "six"
            "seven"
            "eight"
            "nine"
            "ten";
          }

          @include breakpoint(xlarge) {
            max-width: fit-content;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "one two three four five six"
            "seven eight nine ten eleven twelve";
            // grid-auto-rows: min-content; //For Safari
          }

          &__cont {
            padding: 0.1rem;
            margin: 0.3rem;
            display: flex;
            transition: outline 0.3s;

            &__img {
              border-radius: 0.3rem;
              object-fit: cover;
              width: 100%;
              opacity: 0.6;
              transition: opacity 0.3s;

              &:hover {
                cursor: pointer;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &__middle {

      &__top {
        padding-top: 1rem;

        &__price {
          display: flex;
          border-bottom: 1px solid var(--light-light-gray-color);
          padding-bottom: 1rem;
          gap: 1rem;

          &__left {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            padding-left: 0.5rem;
            background-color: var(--gray-color);
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            margin-left: -1px;

            &__box {
              line-height: 2.5rem;
              color: $white-color;
              font-size: 1.2rem;
              font-weight: 400;
              letter-spacing: 0.1rem;
            }
          }

          &__right {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            
            &__box {
              line-height: 2.5rem;
              font-size: 1.2rem;
              color: var(--gray-color);
              font-weight: 400;
            }
          }
        }

        &__stock {
          padding-left: 1rem;
          // display: grid;
          // grid-template-columns: 1fr 1fr;
          align-items: center;
          // gap: 1rem;

          &__info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 1.3rem;
  
            &__desc {
              padding-block: 1rem;
              padding-left: 0.8rem;
              color: rgb(162, 162, 162);
              font-size: 0.8rem;  
              letter-spacing: 0.02rem;
            }
          }

          &__subtotal {
            
            &__value {
              color: rgb(162, 162, 162);
              font-size: 0.8rem;  
              letter-spacing: 0.05rem;
              // padding-left: 0.15rem;
            }
          }
        }

        &__buy {
          padding-inline: 1rem;
          padding-bottom: 1.5rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-around;
          gap: 1rem;

          border-bottom: 1px solid var(--light-light-gray-color);


          &__select {
            display: flex;
            height: 2rem;

            &__left {
              flex-grow: 1;

              background-color: white;
              border: 1px solid var(--light-gray-color);
              border-top-left-radius: 0.4rem;
              border-bottom-left-radius: 0.4rem;
              margin-right: -1px;


              font-size: 1rem;
              padding-block: 0.3rem;
              color: gray;
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
                color: var(--gray-color);
              }
            }

            &__middle {
              flex-grow: 1;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              font-size: 1rem;
              padding-block: 0.3rem;
              color: gray;
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
                color: var(--gray-color);
              }
            }

            &__right {
              flex-grow: 1;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              border-top-right-radius: 0.4rem;
              border-bottom-right-radius: 0.4rem;
              margin-left: -1px;

              font-size: 1rem;
              padding-block: 0.3rem;
              color: gray;
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
                color: var(--gray-color);
              }
            }
          }

          &__area {
            display: flex;
            height: 2rem;

            &__left {
              width: 3rem;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              color: gray;

              border-top-left-radius: 0.4rem;
              border-bottom-left-radius: 0.4rem;
              font-size: 1rem;
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
                border: 1px solid var(--light-gray-color);
                color: var(--gray-color);
              }
              &:active {
                background-color: var(--gray-color);
                color: white;
                border: 1px solid var(--gray-color);
              }
            }

            &__input {
              width: 100%;
              font-size: 1rem;
              padding-block: 0.3rem;
              padding-left: 0.1rem;
              text-align: center;
              color: var(--gray-color);
              border: 1px solid var(--light-gray-color);
              border-left: none;
              transition: background-color 0.3s, color 0.3s, border 0.3s;
              margin-right: -2px;

              &:focus {
                background-color: var(--light-light-gray-color);
                border-left: none;
                outline: none;
              }

              //Hiding arrows 
              /* Chrome, Safari, Edge, Opera */
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              /* Firefox */
              & {
                -moz-appearance: textfield;
              }
            }

            &__right {
              width: 3rem;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              color: gray;
              border-top-right-radius: 0.4rem;
              border-bottom-right-radius: 0.4rem;
              font-size: 1rem;
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
                border: 1px solid var(--light-gray-color);
                color: var(--gray-color);
              }
              &:active {
                background-color: var(--gray-color);
                color: white;
                border: 1px solid var(--gray-color);
              }
            }
          }

          &__button_buy {
            background-color: #a43434;
            border: none;
            padding-block: 0.6rem;
            padding-inline: 1rem;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            color: white;
            transition: background-color 0.3s;
            min-height: 2.875rem; //Height of the price box

            &:hover {
              background-color: hsla(0, 68%, 42%, 0.885);
              cursor: pointer;
            }
          }

          &__button_add {
            background-color: var(--gray-color);
            border: none;
            color: white;
            padding-block: 0.3rem;
            padding-inline: 1rem;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            transition: background-color 0.3s;
            min-height: 2.875rem; //Height of the price box

            &:hover {
              background-color: gray;
              color: white;
              cursor: pointer;
            }
          }
        }
      }

      &__bottom {
        padding: 1.2rem;

        @include breakpoint(xlarge) {
          padding-top: 0;
        }

        &__left {
          display: flex;
          justify-content: space-between;
          color: gray;

          &_left {
            color: rgb(162, 162, 162);
            font-size: 0.8rem;  
            padding-right: 0.5rem;
            letter-spacing: 0.01rem;


          }

          &_middle {
            display: inline-block;
            border-bottom: 1px dotted var(--medium-gray-color);
            flex-grow: 1;
            margin-bottom: 5px;
          }

          &_right {
            font-size: 0.8rem;  
            padding-left: 0.5rem;
            color: gray;
            letter-spacing: 0.01rem;


          }
        }
      }
    }
  }

  .pc_price_selected {
    background-color: var(--gray-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-left: -1px;
  }

  .selected {
    background-color: var(--gray-color);
    color: white;
    border: 1px solid var(--gray-color);
  }

  .active {
    outline: 3px solid gray;
    border-radius: 0.3rem;
  }

  .clear {
    opacity: 1;
  }

  .main_box {
    display: flex;
  }

  .modal {
    display: none;
    position: fixed; 
    z-index: 3;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

  .modal__content {
    display: block;
    width: 100%;
    max-width: 80em;
    height: auto;
    border-radius: 0.5rem;
    margin: auto;

    &:hover {
      cursor: pointer;
    }
  }

  .close {
    position: fixed;
    top: 1rem;
    right: 3rem;
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  .modal__box {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.8;} 
    to {opacity: 1;}
  }

  .inputAreaFocus {
    color: var(--gray-color);
    border-left: none;
    background-color: var(--light-light-gray-color);

  }

  .inputAreaError {
    color: firebrick;
    border-left: none;
  }
}

select {
  font-size: 1rem;
  background-color: white;
  height: 3rem;
  border: 1px solid var(--light-gray-color);
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  color: var(--gray-color);
  letter-spacing: 0.01rem;

  &:focus {
    outline: 1px solid red;
  }
}

.image_blurred {
  background-color: var(--medium-gray-color);
  animation: pulse 2.5s infinite;
  border-radius: 0.5rem;
  margin: 1rem;
}

.thumbnail_blurred {
  background-color: var(--medium-gray-color);
  animation: pulse 2.5s infinite;
  border-radius: 0.5rem;
}