@use '../globals/typography' as *;
@use '../globals/colors' as *;
@use '../util/breakpoints' as *;

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include breakpoint(small) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include breakpoint(xlarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }




}

.product {
  height: auto;
  border: 1px solid var(--light-light-gray-color);
  border-radius: 0.5rem;

  &__top {
    padding: 0.5rem;

    &__img {
      width: 100%;
      border-radius: 0.5rem;
    }

    &__stock {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.7rem;

      padding-block: 0.5rem;
      padding-inline: 1rem;
      color: rgb(162, 162, 162);
      font-size: 0.8rem;

      border-bottom: 1px solid var(--light-light-gray-color);
    }
  }
  &__middle {
    display: flex;
    justify-content: space-between;

    &__price {
      &--m2 {
        display: flex;
        width: 50%;
        justify-content: center;
        padding-left: 0.5rem;

        background-color: var(--gray-color);

        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &__p {


          line-height: 2.5rem;
          color: $white-color;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 0.1rem;
        }
      }
      &--st {
        display: flex;
        width: 50%;
        justify-content: center;

        &__p {
          line-height: 2.5rem;
          font-size: 1.2rem;
          color: var(--gray-color);
          font-weight: 400;
        }
      }
    }
  }
  &__bottom {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;

    &__title {
      padding: 0.8rem 0;
      border-top: 1px solid var(--light-light-gray-color);
      border-bottom: 1px solid var(--light-light-gray-color);
    }

    &__desc {
      padding: 0.8rem 0;

      &__p {
        font-size: 0.8rem;
        color: rgb(109, 109, 109);
      }
    }
  }
}