@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;


.main {

  &__window {
    // height: 40rem;
    // border: 1px solid var(--light-light-gray-color);
    border-radius: 0.5rem;
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);

    &__top {

      &__left {
        border-bottom: 1px solid var(--light-light-gray-color);

        &__cont {
          padding: 2rem;

          &__img {
            width: 100%;
            border-radius: 0.5rem;
          }
        }
      }
    }

    &__bottom {

      &__left {

        &__grid {

          display: grid;
          grid-template-columns: 1fr 1fr 1fr; 
          grid-template-areas: 
          "one two three"
          "four five six"
          "seven eight nine";
          gap: 0.5rem;
          justify-content: center;

          padding: 2rem;
          .one {grid-area: one;}
          .two {grid-area: two;}
          .three {grid-area: three;}
          .four {grid-area: four;}
          .five {grid-area: five;}
          .six {grid-area: six;}
          .seven {grid-area: seven;}
          .eight {grid-area: eight;}
          .nine {grid-area: nine;}

          &__cont {


            &__img {
              border-radius: 0.2rem;
              margin: 0 auto;
              height: 100%;
              width: auto;
            }
          }
        }


      }
    }
  }
}

