@use '../util/breakpoints' as *;
@use '../globals/typography' as *;
@use '../util/fonts' as *;
@use '../globals/colors' as *;


.main {

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-bottom: var(--padding);

    font-size: clamp(1rem, 5vw + 0.01rem, 2.5rem);
    line-height: clamp(1rem, 1.5em + 0.01rem, 5rem);
  }

  &__window {
    border-radius: 0.5rem;
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.451);

    &__top {

      &__left {
        border-bottom: 1px solid var(--light-light-gray-color);
        position: relative;

        &__button--prev, &__button--next {
          cursor: pointer;
          position: absolute;
          top: 40%;
          width: auto;
          font-size: 1rem;
          padding: 1rem;
          color: white;
          font-weight: bold;
          user-select: none;
          background-color: var(--gray-color);
          z-index: 1;
          transition: background-color 0.3s;

          @include breakpoint(small) {
            font-size: 2rem;
          }

          &:hover {
            background-color: hsla(0, 0%, 25%, 0.713);
          }
        }

        &__button--next {
          right: 1rem;
          border-top-left-radius: 0.4rem;
          border-bottom-left-radius: 0.4rem;
        }

        &__button--prev {
          left: 1rem;
          border-top-right-radius: 0.4rem;
          border-bottom-right-radius: 0.4rem;
        }

        &__cont {
          display: none;
          padding: 1rem;
          aspect-ratio: 5/4; //Not supported in Safari

          &__img {
            width: 100%;
            border-radius: 0.5rem;
            object-fit: cover;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    &__bottom {

      &__left {

        border-bottom: 1px solid var(--light-light-gray-color);

        &__grid {

          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-areas: 
          "one two three"
          "four five six"
          "seven eight nine";
          justify-content: space-between;
          

          padding: 1rem;
          .one {grid-area: one;}
          .two {grid-area: two;}
          .three {grid-area: three;}
          .four {grid-area: four;}
          .five {grid-area: five;}
          .six {grid-area: six;}
          .seven {grid-area: seven;}
          .eight {grid-area: eight;}
          .nine {grid-area: nine;}

          &__cont {
            padding: 0.1rem;
            margin: 0.3rem;
            display: flex;
            aspect-ratio: 5/4; //Not supported in Safari
            transition: outline 0.3s;

            &__img {
              border-radius: 0.3rem;
              object-fit: cover;
              width: 100%;
              opacity: 0.6;
              transition: opacity 0.3s;

              &:hover {
                cursor: pointer;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &__middle {

      &__top {
        padding-top: 1rem;

        &__price {
          display: flex;
          border-bottom: 1px solid var(--light-light-gray-color);
          padding-bottom: 1rem;
          gap: 1rem;


          &__left {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            padding-left: 0.5rem;
            background-color: var(--gray-color);
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            margin-left: -1px;

            &__box {
              line-height: 2.5rem;
              color: $white-color;
              font-size: 1.2rem;
              font-weight: 400;
              letter-spacing: 0.1rem;
            }
          }

          &__right {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            
            &__box {
              line-height: 2.5rem;
              font-size: 1.2rem;
              color: var(--gray-color);
              font-weight: 400;
            }
          }
        }

        &__stock {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 1.2rem;

          &__desc {
            padding-block: 1rem;
            padding-inline: 1rem;
            color: rgb(162, 162, 162);
            font-size: 0.8rem;  
          }
        }

        &__buy {
          padding-inline: 1rem;
          padding-bottom: 1.5rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-around;
          gap: 1rem;

          border-bottom: 1px solid var(--light-light-gray-color);


          &__select {
            display: flex;
            height: 1.98rem;

            &__left {
              flex-grow: 1;

              background-color: white;
              border: 1px solid var(--light-gray-color);
              border-top-left-radius: 0.4rem;
              border-bottom-left-radius: 0.4rem;
              border-right: none;

              font-size: 1rem;
              padding-block: 0.3rem;
              color: var(--gray-color);
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
              }
            }

            &__middle {
              flex-grow: 1;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              font-size: 1rem;
              padding-block: 0.3rem;
              color: var(--gray-color);
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
              }
            }

            &__right {
              flex-grow: 1;
              background-color: white;
              border: 1px solid var(--light-gray-color);
              border-top-right-radius: 0.4rem;
              border-bottom-right-radius: 0.4rem;
              border-left: none;

              font-size: 1rem;
              padding-block: 0.3rem;
              color: var(--gray-color);
              transition: background-color 0.1s, color 0.1s, border 0.1s;

              &:hover {
                cursor: pointer;
                background-color: var(--light-gray-color);
              }
            }
          }

          &__area {

            &__input {
              width: 100%;
              font-size: 1rem;
              padding-block: 0.3rem;
              text-align: center;
              color: var(--gray-color);
              border: 1px solid var(--light-gray-color);
              border-radius: 0.4rem;
              transition: border 0.3s;

              &:focus {
                border: 1px solid var(--gray-color);
                outline: none;
              }
            }
          }

          &__button_buy {
            background-color: #a43434;
            border: none;
            padding-block: 0.6rem;
            padding-inline: 1rem;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            color: white;
            transition: background-color 0.3s;

            &:hover {
              background-color: hsla(0, 68%, 42%, 0.885);
              cursor: pointer;
            }
          }

          &__button_add {
            background-color: var(--gray-color);
            border: none;
            color: white;
            padding-block: 0.3rem;
            padding-inline: 1rem;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            transition: background-color 0.3s;

            &:hover {
              background-color: gray;
              color: white;
              cursor: pointer;
            }
          }
        }
      }

      &__bottom {
        padding: 1.2rem;

        &__left {
          
          display: flex;
          justify-content: space-between;
          color: gray;

          &_left {
            color: rgb(162, 162, 162);
            font-size: 0.8rem;  
            padding-right: 0.5rem;

          }

          &_middle {
            display: inline-block;
            border-bottom: 1px dotted var(--medium-gray-color);
            flex-grow: 1;
            margin-bottom: 5px;
          }

          &_right {
            font-size: 0.8rem;  
            padding-left: 0.5rem;
            color: gray;

          }
        }
      }
    }
  }

  .pc_price_selected {
    background-color: var(--gray-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-left: -1px;
  }

  .selected {
    background-color: var(--gray-color);
    color: white;
    border: var(--gray-color);
  }

  .active {
    outline: 3px solid gray;
    border-radius: 0.3rem;
  }

  .clear {
    opacity: 1;
  }

  .main_box {
    display: flex;
  }

  .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

  .modal__content {
    display: block;
    width: 100%;
    max-width: 80em;
    height: auto;
    border-radius: 0.5rem;
    margin: auto;
  }

  .close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  .modal__box {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.8;} 
    to {opacity: 1;}
  }
}

