.icon-style {
  color: var(--gray-color);
  transition: color 200ms;
}

.icon-style--footer {
  color: var(--medium-gray-color);
}

.icon-style--saved {
  color: var(--gray-color);
  width: 1.875rem;
  transition: color 200ms;

  @media(hover: hover) {
    &:hover {
      color: firebrick;
      cursor: pointer;
    }
  }
}

.icon-style--search {
  color: var(--gray-color);
  transition: color 200ms;

  @media(hover: hover) {
    &:hover {
      color: firebrick;
      cursor: pointer;
    }
  }
}

@media(hover: hover) {

  .icon-style:hover {
    color: firebrick;
    cursor: pointer;
  }
}

.stock {
  color: firebrick;
}