.icon-style {
  color: var(--gray-color);
}

.icon-style--saved {
  color: var(--gray-color);
  width: 1.875rem;
}

.icon-style--search {
  color: var(--gray-color);

  &:hover {
    color: firebrick;
    cursor: pointer;
  }
}

.icon-style:hover {
  color: firebrick;
  cursor: pointer;
}

.stock {
  color: firebrick;
}